.grid-item {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* .grid-item:hover {
    box-shadow: 0 0 5px rgba(125, 122, 122, 0.5);

}
 */




.grid-item .spot-tile-img {
    border-radius: 20px;
}

.img-container .spot-tile-img {
    cursor: pointer
}

.img-container {
    width: 280px;
    height: 280px;
    background-color: lightgrey;
    border-radius: 20px;
    margin: 10px 0 7px 0;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    transition: box-shadow 50ms linear;

}

.spot-tile-img {
    width: 280px;
    height: 280px;
}

.fa-solid {
    margin: 0 3px;
}

#spot-price {
    font-size: 17px;
    font-weight: 500
}

.price-container {
    font-size: 14px;
    padding: 4px;
    color: black;

}
.state-stars-container {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    color: black;
}

.state-stars {
    font-size: 14px;

}





.grid-item:hover .img-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}


/* CAREFUL WHEN TOUCHING THESE */
/* .img-container:hover, .flex-item img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */




.tooltip {
    opacity: 0;
    position: fixed;
    background-color: rgba(132, 132, 132, 0.828);
    color: white;
    top: 0;
    left: 0;
    padding: 5px;
    border-radius: 10px;
}

.img-container:hover .tooltip {
    opacity: 1
}

.flex-item img:hover .tooltip {
    opacity: 1
}
#Delete-buttonText {
    color: white;
}