.delete-modal-container {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 25px;
    z-index: 1000;
    box-sizing: border-box;
    border: solid 2px rgb(193, 193, 193);
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(168, 161, 161);
}

.delete-modal-container > h1 {
    text-align: center;
    padding-bottom: 12px;
}

