#delete-spot-modal-container {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
    border: solid 3px black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(168, 161, 161);

}

#delete-spot-modal-container > h1 {
    color: black;
    text-align: center;
    padding: 0;
    margin: 0 0 10px 0;

}

#delete-spot-modal-container p {
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 0;
    margin: 10px 0 15px 0;
    
}




#confirm-delete-button, #deny-delete-button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: 2px solid black;
    margin: 10px 0;
    color: white;
    border-radius: 4px;
}

#confirm-delete-button {
    background-color: red;
}

#deny-delete-button {
    background-color: grey;
}

