#manage-spots-container {
    max-width: 1200px;
    margin: 10px 50px;
}

#manage-spots-container > h1 {
    padding-top: 10px;
    padding-bottom: 3px;
    
}

.ManageSpots-button {
    background-color: red;
    color: red;
    box-shadow: 2px 2px 2px black;
    height: 30px;
    border-radius: 5px;
    color: white;
    padding: 0 10px;
    margin: 4px 8px 0 0;
}

.delete-modal-button {
    color: white
}