.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 25px;
    z-index: 1000;
    box-sizing: border-box;
    border-radius: 20px;
    border: solid px rgba(104, 97, 97, 0.598);
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.5);    
}

h1, form {
    font-family: 'Montserrat', sans-serif;
}

.login-container > h1 {
    text-align: center;
    padding-bottom: 12px;
}

.login-labels {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;

}

.login-button {
    display: block;
    margin-right:auto;
    margin-left:auto;
    margin-top: 10px;
    width: 150px;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(254, 85, 85);
    color: white;
    border-radius: 5px;
    border: 2px solid black;
}

.login-button:disabled {
    background-color: rgb(254, 85, 85, 0.5);
    border: none;
}

.login-span {
    padding-bottom: 10px;
}

.login-inputs {
    background-color: rgba(132, 193, 210, 0.872);
    border: solid 2px rgba(87, 81, 81, 0.793);
    border-radius: 10px;
    font-size: 15px;
    padding: 8px;
    size: 150px;
    outline: none
}

.errors {
    color: red;
    font-size: 10px;
}

.demo-user {
    display: block;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    font-size: 16px;
    border: none;
    background-color: white;
    margin: auto;
}

