.signup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 25px;
    z-index: 1000;
    box-sizing: border-box;
    border: solid 2px black;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(168, 161, 161);
    width: 500px;
}


h1, form {
    font-family: 'Montserrat', sans-serif;
}

.signup > h1 {
    text-align: center;
    padding-bottom: 12px;
}

.signup-label {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 6px 10px;

}

.signup-button {
    display: block;
    margin-right:auto;
    margin-left:auto;
    margin-top: 20px;
    width: 150px;
    padding: 8px;
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 5px
}

.signup-span {
    padding-bottom: 5px;
    font-size: 16px;
}

.signup-input {
    background-color: rgba(132, 193, 210, 0.872);
    border: solid 2px black;
    border-radius: 10px;
    font-size: 15px;
    padding: 8px;
    size: 150px;
}

.errors {
    color: red;
    font-size: 14px;
    padding-left: 10px; 
}

button:disabled {
    background-color: rgba(128, 128, 128, 0.3);
}